body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  #sort {
    height: 30px;
    border-radius: 30px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    background: rgba(61, 163, 141, 0.411);
    outline: none;

  }

  #sort:hover {
    background: rgba(53, 117, 103, 0.411);
  }

  button {
    font-family: 'Raleway';
  }

  #status {
    border-bottom: 0.1px solid rgb(104, 102, 102);
    padding-bottom: 3px;
  }

  .moves {
    border: none;
    border-radius: 30px;
    margin-bottom: 5px;
    outline: none;
  }

  .moves:hover {
    background: rgba(170, 168, 168, 0.575);
  }

  .game-board {
    margin-top: 5px;
  }